body {
	margin: 0;
	padding: 0;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
}

a {
	text-decoration: none;
}

.main-header {
	background-color: #f4f7f9;
}

.header-top {
	background-color: #293449;
}

.main-logo {
	background-color: #ee3643;
	display: inline-block;
}

.main-logo:hover,
.main-logo:focus {
	background-color: #ca2c37;
}

.checkout a {
	background-color: #63a63e;
	display: block;
}

.checkout a:hover,
.checkout a:focus {
	background-color: #5fbb2d;
}


.top-navigation a {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	list-style: none;
}

.top-navigation li {
	list-style: none;
}

.top-navigation a {
	color: #ffffff;
}

.italic p {
	font-size: 16px;
	font-weight: 400;
	line-height: 23;
	font-style: italic;
	color: #ee3643;
}

.phone-container {
	border: solid 3px #ffffff;
}

.phone-container .phone {
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
}

.main-header .header-adress {
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

.login li {
	list-style: none;
	font-size: 21px;
	font-weight: 400;
	line-height: 21px;
	color: #000000;
}

.login a {
	color: #000000;
	background-color: #ffffff;
}

.login a:hover,
.login a:focus {
	color: #ee3643 ;
}

.username {
	background-color: #ffffff;
	font-size: 21px;
	font-weight: 400;
	line-height: 21px;
	color: #000000;
}

.user-navigation li {
	list-style: none;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	text-decoration: underline;
	color: #32425c;
}

.user-navigation a:hover,
.user-navigation a:focus {
	color: #ee3643;
}

.mini-nav {
	list-style: none;
	font-family: "PT-Sans", Arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
}

.mini-nav a {
	color: #000000;
}


.mini-nav a:hover,
.mini-nav a:focus {
	color: #000000;
}

.main-navigation {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;

	background-color: #32425c;
}

.site-navigation {
	list-style: none;
}

.site-navigation a {
	color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
	background-color: #293449;
}

main .h1-container {
	background-color: #f2f6f8;
}

main h1 {
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
	color: #32425c;
}

fieldset legend {
	font-family: "PT-Sans", Arial, sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 30px;
	color: #000000;
}

.filter fieldset {
	border: none;
}

.filter li {
	list-style: none;

	font-style: "PT-Sans", Arial, sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;
	color: #000000;
}

.filter [type=submit] {
	background-color: #ffffff;
	border: 1px solid #e5e5e5;

	font-family: "PT-Sans", Arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
}

main h2 {
	font-size: 30px;
	line-height: 30px;
	color: #000000;
	font-weight: 400;
}

main p {
	font-family: "PT-Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	text-align: left;
	color: #000000;
}

.catalog-list {
	list-style: none;
}

.catalog-item {
	border: solid 1px #e5e5e5;
}

.catalog-item h3 {
	font-family: "PT-Sans", Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
	color: #000000;
}

.catalog-item a,
.catalog-item a:hover,
.catalog-item a:focus {
	color: #000000;
}

.catalog-item p {
	font-family: "PT-Sans", Arial, sans-serif;
	font-size: 17px;
	font-weight: 700;
	line-height: 18px;
	text-align: center;
	color: #ffffff;
}

.catalog-item span {
	font-family: "PT-Sans", Arial, sans-serif;
	font-size: 17px;
	font-weight: 700;
	line-height: 18px;
	text-align: center;
	color: #999999;
	text-decoration: line-through;
}

.catalog-item .buy {
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-align: center;
	color: #ffffff;

	background-color: #63a63e;
}

.catalog-item .buy:hover,
.catalog-item .buy:focus {
	background-color: #367315;
	color: #ffffff;
}

.catalog-item .bookmarks {
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-align: center;
	color: #32425c;
	border: 3px solid #63a63e;
}

.catalog-item .bookmarks:hover,
.catalog-item .bookmarks:focus {
	color: #32425c;
	border-color: #32425c;
}

.about-us li {
	list-style: none;
	font-size: 18px;
	line-height: 20px;
	font-weight: 400;
	color: #000000;
}

.button {
	color: #ffffff;
	background-color: #ee3643;
}

.button:hover,
.button:focus {
	background-color: #ca2c37;
}

.main-footer {
	color: #ffffff;

	background-color: #32425c;
}

.main-footer a {
	color: #ffffff;
}

.main-footer a:hover,
.main-footer a:focus {
	text-decoration: underline;
} 

.footer-navigation-2 a {
	color: #ffd180;
}

.footer-bottom a {
	color: #ffd180;
}


.footer-bottom {
	background-color: #293449;
}

.main-footer li {
	list-style: none;
}

.footer-logo {
	background-color: #ee3643;
	display: inline-block;
}

.footer-logo:hover,
.footer-logo:focus {
	background-color: #ca2c37;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.popup {
	display: none;
}