body {
	margin: 0;
	padding: 0;
	
	/*Временно для сетки
	background: url("../img/technomart-index.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	width: 1200px;
	height: 3500px;*/

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
}

a {
	text-decoration: none;
}

.main-header {
	background-color: #f4f7f9;
}

.main-logo {
	background-color: #ee3643;
	display: inline-block;
}

.main-logo:hover,
.main-logo:focus {
	background-color: #ca2c37;
}

.checkout a {
	background-color: #63a63e;
	display: block;
}

.checkout a:hover,
.checkout a:focus {
	background-color: #5fbb2d;
}


.top-navigation a {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	list-style: none;
}

.top-navigation li {
	list-style: none;
}

.top-navigation a {
	color: #ffffff;
}

.italic {
	font-size: 16px;
	font-weight: 400;
	line-height: 23px;
	font-style: italic;
	color: #ee3643;
}

.phone-container {
	border: solid 3px #ffffff;
}

.phone {
	display: block;
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
	border: solid 3px #ffffff;
}

.main-header .header-adress {
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

.login li {
	list-style: none;
	font-size: 21px;
	font-weight: 400;
	line-height: 21px;
	color: #000000;
}

.login a {
	color: #000000;
	background-color: #ffffff;
}

.login a:hover,
.login a:focus {
	color: #ee3643 ;
}

.username {
	background-color: #ffffff;
	font-size: 21px;
	font-weight: 400;
	line-height: 21px;
	color: #000000;
}

.user-navigation li {
	list-style: none;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	text-decoration: underline;
	color: #32425c;
}

.user-navigation a {
	color: #32425c;
}

.user-navigation a:hover,
.user-navigation a:focus {
	color: #ee3643;
}

.breadcrumps {
	list-style: none;
	font-family: "PT-Sans", Arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
}

.breadcrumps a {
	color: #000000;
}


.mini-nav a:hover,
.mini-nav a:focus {
	color: #000000;
}

.main-navigation {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;

	background-color: #32425c;
}

.site-navigation {
	list-style: none;
}

.site-navigation a {
	color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
	background-color: #293449;
}

.page-title {
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
	color: #32425c;

	background-color: #f2f6f8;
}

fieldset legend {
	font-family: "PT-Sans", Arial, sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 30px;
	color: #000000;
}

.filter h2 {
	font-family: "PT-Sans", Arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
}

.filter fieldset {
	border: none;
}

.filter li {
	list-style: none;

	font-style: "PT-Sans", Arial, sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;
	color: #000000;
}

.filter [type=submit] {
	background-color: #ffffff;
	border: 1px solid #e5e5e5;

	font-family: "PT-Sans", Arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
}

main h2 {
	font-size: 30px;
	line-height: 30px;
	color: #000000;
	font-weight: 400;
	text-transform: uppercase;
}


.catalog-list {
	list-style: none;
}

.catalog-item {
	border: solid 1px #e5e5e5;
}

.catalog-item h3 {
	font-family: "PT-Sans", Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
	color: #000000;
}

.catalog-item a,
.catalog-item a:hover,
.catalog-item a:focus {
	color: #000000;
}

.catalog-item p {
	font-family: "PT-Sans", Arial, sans-serif;
	font-size: 17px;
	font-weight: 700;
	line-height: 18px;
	text-align: center;
	color: #ffffff;
}

.catalog-item span {
	font-family: "PT-Sans", Arial, sans-serif;
	font-size: 17px;
	font-weight: 700;
	line-height: 18px;
	text-align: center;
	color: #999999;
	text-decoration: line-through;
}

.catalog-item .buy {
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-align: center;
	color: #ffffff;

	background-color: #63a63e;
}

.catalog-item .buy:hover,
.catalog-item .buy:focus {
	background-color: #367315;
	color: #ffffff;
}

.catalog-item .bookmarks {
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-align: center;
	color: #32425c;
	border: 3px solid #63a63e;
}

.catalog-item .bookmarks:hover,
.catalog-item .bookmarks:focus {
	color: #32425c;
	border-color: #32425c;
}

.about-us p {
	font-family: "PT-Sans", Arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	color: #000000;
}

.about-us li {
	list-style: none;
	font-size: 18px;
	line-height: 20px;
	font-weight: 400;
	color: #000000;
}

.button {
	color: #ffffff;
	background-color: #ee3643;
}

.button:hover,
.button:focus {
	background-color: #ca2c37;
}

.main-footer {
	color: #ffffff;
}

.main-footer a {
	color: #ffffff;
}

.main-footer a:hover,
.main-footer a:focus {
	text-decoration: underline;
} 

.footer-navigation-2 a {
	color: #ffd180;
}

.footer-bottom a {
	color: #ffd180;
}

.main-footer li {
	list-style: none;
}

.footer-logo {
	background-color: #ee3643;
	display: inline-block;
}

.footer-logo:hover,
.footer-logo:focus {
	background-color: #ca2c37;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.popup {
	display: none;
}

/* Сеточные стили */
html,
body {
	min-width: 940px;
	min-height: 2000px;
	margin: 0;
	padding: 0;
}

.main-header {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-bottom: 59px;
	/* Временно для сетки */
	min-height: 320px;
	
}


.main-logo {
	width: 220px;
	height: 42px;

	/* Временно для сетки*/
	/*display: block;*/
}

.search {
	margin: 0;
	padding: 0;
	width: 270px;

	/*Временно для сетки*/
	min-height: 42px;
}

.top-navigation {
	margin: 0;
	padding: 0;
	width: 419px;
	margin-left: auto;
	display: flex;
	justify-content: space-between;

	/*Временно для сетки*/
	min-height: 42px;
}

.header-top-wrapper {
	width: 100%;
	margin-bottom: 46px;

	background-color: #293449;
 /* Временно для сетки */
  	min-height: 42px;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.header-top-wrapper .container {
	display: flex;
	justify-content: space-between;
}

.header-middle {
	display: flex;
	justify-content: space-between;
	margin-bottom: 44px;
}

.italic {
	width: 196px;
	padding: 0;
	margin-left: 53px;
	/*Временно для сетки*/

	min-height: 60px;
}

.header-contacts {
	width: 270px;
	text-align: center;
	/*Временно для сетки*/
	min-height: 68px;
}

.login {
	width: 281px;

	/*Временно для сетки*/
	min-height: 45px;
}

.main-navigation {
	width: 940px;
	margin-bottom: 60px;

	/*Временно для сетки*/
	min-height: 60px;
}

.site-navigation {
	display: flex;
	justify-content: space-between;
}

.about-company {
	margin: 0;
	padding: 0;

	display: flex;
	justify-content: space-between;
	margin-bottom: 86px;
	/*Временно для сетки*/
	min-height: 536px;
}

.about-us {
	margin: 0;
	padding: 0;
	width: 542px;
}


.map {
	margin: 0;
	padding: 0;
}

.contacts {
	margin: 0;
	padding: 0;
	width: 300px;
}

.footer-top-wrapper {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #32425c;

	/*Временно для сетки*/
	min-height: 193px;
}

.footer-bottom-wrapper {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #293449;
	/*Временно для сетки*/
	min-height: 107px;

}

.footer-top {
	display: flex;
	justify-content: space-between;
}

.footer-column-1 {
	width: 322px;
	
	justify-content: space-between;
	/*Временно*/
	min-height: 193px;
}

.footer-navigation-1 {
	width: 547px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: auto;
	margin-bottom: 45px;
}
/*
.footer-navigation-1 li {
	margin-left: 60px;
}
*/

.footer-column-2 {
	margin: 0;
	padding: 0;

	width: auto;
	/*Временно*/
	min-height: 193px;
}

.footer-navigation-2 {
	width: 524px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: auto;
}
/*
.footer-navigation-2 li:not(:first-child) {
	margin-left: 60px;
}
*/
.footer-logo {
	width: 220px;
	/*Временно для сетки*/
	min-height: 63px;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
}

.breadcrumps {
	padding: 0;
	margin: 0;
	margin-bottom: 24px;
	/*Временно для сетки*/	
	min-height: 12px; 
}

.page-title {
	margin: 0;
	margin-bottom: 20px; 
	padding: 0;
	/*Временно для сетки*/
	min-height: 55px;
}

.filter {
	width: 220px;
	/*Временно для сетки*/
	min-height: 500px;
}

.catalog {
	width: 700px;
	/*Временно*/
	min-height: 994px;
}

.catalog-columns {
	display: flex;
	justify-content: space-between;
}

.catalog-item {
	width: 218px;
	margin-bottom: 20px;
	margin-right: 20px;
	/*Временно*/
	min-height: 318px;
}

.catalog-item:nth-child(3n) {
	margin-right: 0;
}

.catalog-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;

}

.pagination-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 60px;

	/*Временно*/
	min-height: 38px;
}

.pagination-list li {
	border: solid 1px #e5e5e5;
	margin-right: 10px;
	width: 38px;
}

.pagination-list li:first-child {
	background-color: #ee3643;
}